.container{
    display: flex;
    border: 0cap;
    justify-content: center;
    flex-direction: row;
   
    }
    
    .box {
        display: flex;
        justify-content: center;
        border: solid black 1px;
        width: 10%;
        height: 700px;
    }

    .box2 {
        display: flex;
        justify-content: center;
        border: solid black 1px;
        width: 80%;
        height: 80px;
    }
    
    .box3 {
        display: flex;
        justify-content: center;
        border: solid black 1px;
        width: 10%;
        height: 700px;
    }

    

    
    
    