
.main-container {
display: flex;
flex-direction: column;
justify-content: center;

}

.header {
background-color: darkcyan;
height: 20%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.middle {
height: 60%;
background-color: ivory;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
padding: 2em;
}

.footer {
height: 100px;
display: flex;
justify-content: center;
background-color: rgb(152, 37, 37);
}

.middle img {
    height: 50%;
    width: 50%;
   margin-top: 50px;
   margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .middle {
    background: rgb(241, 233, 218);
  padding: 2em; }

  .middle img{ 
    height: 70%;
    width: 100%;
  }
  }

  .footer {
    background-color: rgb(4, 87, 123);
  }

