.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    }

    .box2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        background-color: rgb(255, 255, 255);
    }

    .en { 
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        border: solid white 1px;
        width: 10%;
        height: 50px;
        background-color: blue;
     border: solid blue 1px;
    }

    .to { 
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        border: solid white 1px;
        width: 40%;
        height: 50px;
        background-color: white;
      
    }

    .tre { 
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        border: solid white 1px;
        width: 100%;
        height: 50px;
        background-color: white;
       
    }

    .fire { 
        display: flex;
        justify-content: center;
        align-self: center;
        border: solid white 1px;
        width: 20%;
        height: 50px;
        background-color: white;
       
    }

     .box4 { 
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
       
    }

    .container3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 60px;
        background-color: rgb(0, 0, 0);
        align-items: center;
        align-content: center;
    }

    h1{
        font-size: 200%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        width: 50%;
    }

    h2 {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-left: -130px; 
    }

    p {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0%;
        width: 50%;
        text-align: center;
        font-size: smaller;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    